{% extends 'base_add.html' %}
{% block title_add%}
Add client
{% endblock %}
{% block lin_style %}269px;{% endblock%}

{% block container3%}

   <div class="text1">
       <form action = "/clients_list_add" method="post">
   <p><label for="cname">First name:</label>
   <textarea id="cname" name="cname" rows="2" cols="20"></textarea></p>
  <p><label for="cdes">Last name:</label>
   <textarea id="cdes" name="cdes" rows="2" cols="15"> </textarea></p>
    <p><label for="rtime">Passport number:</label>
   <textarea id="rtime" name="rtime" rows="2" cols="7">  </textarea></p>
   <p><label for="calendar">Add date:</label>
       <input type="date" name="calendar"></p>
   <p>
	    <input class="submit_save" type="submit" value = "Save">
	</p>
  </form></div>

    {% endblock %}
    {% block action%}action = "/clients_list" {% endblock %}


