{% extends 'base_lists.html' %}

{% block title_list%}
Cars list
{% endblock %}
{% block lin_style%}
355.5px;
{% endblock %}

{% block style_filtring %}
.text1{
  position: absolute;
  top: 15px;
  left: 50px;
  font-size: 17pt;
  
   
}
.text2{
  position: absolute;
  top: 23px;
  left: 280px;
  font-size: 17pt; 
   
}


.add{
   position: absolute;
  top: 20px;
  left: 560px; 
}

.button1 {
  background-color: #69A84F;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.stat{
   position: absolute;
  top: 20px;
  left: 700px;
}

.button2 {
  background-color: #69A84F;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
input{
    width: 60px;
    height: 30px;
}
#pyat::-webkit-inner-spin-button {
  opacity: 1;
}
.form2{
    position: absolute;
    top: 23px;
  left: 320px;
}
.refresh{
   position: absolute;
  top: 31.5px;
  right: 134px;
  text-align: center;
}

.buttonload {
    position: absolute;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  top: 18px;
  left: 610px;

}
.fa-refresh{
   display: block;
  margin-left: auto;
   margin-right: auto;

}

{% endblock%}

    {% block calendar %}
    <div class="text1"><form action="/refresh_сar" method="post">
        <p>
            <label for="number1" align="left" style = "color: black">rental cost from:</label>
        <input type="number" name="number1" />
        </p>
    <p>
        <label class = 'text2' for="number1" align="left" style = "color: black">by:</label>
        <input class = 'form2' type="number" name="number2" />
    </p>
    <p>
        <button class="buttonload">
             <i class="fa fa-refresh fa-fw"></i></button>
     </p>
     </form></div>
    <div class="add"><form  action="/add_car" method="get"><button class="button1">add</button></form></div>
    <div class="stat"><form  action="/car_statistic" method="get"><button class="button2">statistic</button></form></div>
{% endblock %}



{% block else %}

<style>
.container5{
    position: relative;
    top: 68px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    width: 797.5px;
    margin: 0;
    padding: 10px;
    left:230
}
.table1 {
  border-collapse: collapse; 
  line-height: 1.1; 

  color: #0C213B;
}
.col1{
   font-size: 1em;
  font-weight: bold;
  text-align: center;
   background-color: #CCCCCC;
}
.table2 {
  position: absolute;
  border-collapse: collapse; 
  line-height: 1.1; 
  left: 710px;
  top: 70px;
  color: #0C213B;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
dialog {

    background: white;
    width: 250px;

    border-radius: 5px;

   }
.delete_dialog{
    position: absolute;
    top: -70px;
    right: 570px;
}
.buttonsearch1 {
  position: absolute;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2px 0px;
  top: 0px;
  right: 250px;

}
.buttonsearch2 {
  position: absolute;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2px 0px;
  top: 16px;
  right: -35px;

}

.search_container_car_desc{
    position: relative;
    top: 0px;
    text-align: center;
    margin: 0;
    right: 270px;
}
.text_search_car_numberr{
    position: absolute;
    top: -17px;
    text-align: center;
    margin: 0;
    right: 0px;
}
</style>
<div class="container5">
    <div class="search_container_car_desc">
        <div class="text_search_car_desc">
       <form action = "/search_car_by_car_desc" method="post">
       <p><label for="car_dec">By car description:</label>
       <textarea id="car_dec" name="car_dec" rows="1" cols="8"></textarea></p>
       <p>
        <button class="buttonsearch1">
             <i class="fa fa-search fa-fw"></i></button>
        </p>
        </form></div>
        <div class="text_search_car_numberr">
       <form action = "/search_car_by_car_number" method="post">
       <p><label for="car_num10">By car number:</label>
       <textarea id="car_num10" name="car_num10" rows="1" cols="8"></textarea></p>
       <p>
        <button class="buttonsearch2">
             <i class="fa fa-search fa-fw"></i></button>
        </p>
        </form></div>
    </div>
<div class = "table1"><table  width="87%" cellpadding="3">
  <tr>
    <th class="col1">Car description</th>
      <th class="col1">Car number</th>
    <th class="col1">Rental cost</th>
     <th class="col1">Number of orders</th>
     
  </tr>
  {% for row in rows %}
    <tr>
        <td height="28.5px">{{ row.car_description }}</a></td>
        <td height="28.5px">{{ row.car_number }}</a></td>
        <td height="28.5px">{{ row.rental_cost }}</td>
        <td height="28.5px">{{ row. number_of_orders_cars }}</td>
    </tr>
    {% endfor %}
  
</table>
</div>
<div class = "table2"><table  width="10%" cellpadding="4">

  <tr>
    <td>  <a method="get" href="/edit_car"><i class="fa fa-pencil fa-fw"></i></a></td>
    <td><button id="openDialog"><i class="fa fa-trash fa-fw"></i></button></td>
   </tr>
<div class = "delete_dialog"><dialog>
        <p>Delete car?</p>
        <form method="post" action="/car_delete">
        <p><label for="cdes">Car number:</label>
        <textarea id="cdes" name="cdes" rows="1" cols="5"> </textarea></p>
        <p><button id="closeDialog_yes">Yes</button></p></form>
        <p><form method="get" action="/cars_list"><button id="closeDialog_cancel">Cancel</button></form></p>
    </dialog></div>
    <script>

     var dialog = document.querySelector('dialog');
     document.querySelector('#openDialog').onclick = function() {
      dialog.show();
     }

     document.querySelector('#closeDialog_yes').onclick = function() {
      dialog.close();
     }
     document.querySelector('#closeDialog_cancel').onclick = function() {
      dialog.close();
     }

    </script>

</table>

</div>
</div>
{% endblock %}